@{
    ViewBag.Title = "Conguraciones";
}

<div class="nineteen wide column">
    <div class="jumbotron" style="background-color: #8494b4">
        @*<div class="ui segment" style="background-color: #8494b4 ">
                <center>
                    <h1 style="font-size:50px">
                        AGROFACIL
                    </h1>
                    <h2>
                        ¡Más que un software, soluciones!
                    </h2>
                </center>
                <div class="ui clearing divider"></div>
            </div>*@
    </div>
</div>

